{% set tracking = site['umami'] %}
{% if tracking and tracking['source'] and tracking['id'] %}

<script defer src="{{ tracking['source'] }}" data-website-id="{{ tracking['id'] }}"></script>

{% endif %}
