---
permalink: feed.xml
eleventyExcludeFromCollections: true
layout: null
---
{%- set baseUrl = site.url or 'http://localhost:8080' -%}
{%- set feedTitle = site.title or 'Feed' -%}
{%- set feedDescription = site.description or site.tagline or feedTitle -%}
{%- set posts = collections.posts -%}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ feedTitle }}</title>
    <link>{{ baseUrl }}</link>
    <description>{{ feedDescription }}</description>
    <language>en</language>
    <atom:link href="{{ 'feed.xml' | absoluteUrl(baseUrl) }}" rel="self" type="application/rss+xml" />
    {% if posts and posts | length %}
    <lastBuildDate>{{ posts | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    {% endif %}
    {% for post in posts | reverse %}
      {% if not post.data.draft %}
      <item>
        <title>{{ post.data.title }}</title>
        <link>{{ post.url | absoluteUrl(baseUrl) }}</link>
        <guid isPermaLink="true">{{ post.url | absoluteUrl(baseUrl) }}</guid>
        <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
        {% set summary = post.data.excerpt or (post.templateContent | excerpt) %}
        {% if summary %}
        <description><![CDATA[{{ summary | safe }}]]></description>
        {% endif %}
      </item>
      {% endif %}
    {% endfor %}
  </channel>
</rss>
